.botao_personalizado{
  width: 350px;
  height: 200px;
  font-size: 80px;
  text-align: center;
  background: #696969;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border: solid #696969 1px;
  border-radius: 3px;
  margin: 30px;
  padding: 70px 0;
}

.btn:hover {
  background: #2d3c45;
  text-decoration: none;
}
